{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}


    <h1>Edit User</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

   <button> <a href="{{ path('user_index') }}">back to list</a></button> </br>
    <button>  <a href="/trello"> Home </a></button>

    {{ include('user/_delete_form.html.twig') }}



    

    <style>

    input {
        color: white; !important;
        display: block;
        margin: 1em auto;
        border: none;
        margin-left: 5% !important;
        font-size: 40px !important;
        padding: 0;
        width: 10.5ch;
        background: repeating-linear-gradient(90deg, dimgrey 0, dimgrey 1ch, transparent 0, transparent 1.5ch) 0 100%/10ch 2px no-repeat;
        font: 5ch droid sans mono, consolas, monospace;
        letter-spacing: 0.5ch;
    }
    input:focus {
        outline: none;
        color: dodgerblue;
    }

    label{
       font-size: 20px !important;
    }


    select{

        width: 10% !important;
        padding: 0.5% !important;
        margin: 0.5% !important;
    }





    </style>

{% endblock %}
